<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        /* CSS styles here */
        th,
        td {
            padding: .75em;
            text-align: center;
            font-family: Arial, Helvetica, sans-serif;
            font-size: small;
            vertical-align: top;
            border-top: 1px solid var(--border);
        }

        table {
            border-spacing: 0px;
            width: 100%;
        }

        thead {
            background-color: #4CAF50;
            color: aliceblue;
            font-size: small;
            padding: 1em 0;
            width: 100%;
        }
    </style>
</head>
<body>
    <form action="/api/tasks/read/" method="post">
        <table class="table" style="width: 100%">
            <thead class="tdark">
                <tr>
                    <th>Task Number</th>
                    <th>Name</th>
                    <th>E-mail</th>
                    <th>Staff ID</th>
                    <th>LOS</th>
                    <th>Task type</th>
                    <th>Asset Number</th>
                    <th>Model</th>
                    <th>Engineer</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                <% for(var i = 0; i < data.length; i++){ %>
                <tr>
                <td><%= data[i].taskNumber%></td>           
                <td><%= data[i].user.name%></td>
                <td><%= data[i].user.email%></td>
                <td><%= data[i].user.staffNumber%></td>
                <td><%= data[i].user.los%></td>
                <td><%= data[i].taskType%></td>
                <td><%= data[i].asset.number%></td>
                <td><%= data[i].asset.model%></td>
                <td><%= data[i].ownedBy%></td>
                <td><%= data[i].stat%></td>
                <td>
                    <a href="/api/tasks/read/?id=<%=data[i]._id%>" class="update-btn">
                        <button>Update</button>
                    </a>
                    <a class="delete-btn" data-id>
                        <button>Delete</button>
                    </a>
                </td>
                </tr>
                <%}%>
            </tbody>
        </table>
    </form>
</body>
</html>